<div class="container" *ngIf="(dragon && dragon.name) || slug == 'new'">

  <form [formGroup]="eForm" (ngSubmit)="submitForm(eForm.value)" *ngIf="isForm">
    <div class="form-container">
      <div class="row columns">
        <h1>Edit dragon form</h1>
        <label>Name
          <input type="text" formControlName="name">
        </label>
        <div class="alert" *ngIf="!eForm.controls['name'].valid && eForm.controls['name'].touched">{{ titleAlert }}</div>

        <label>Type
          <input type="text" formControlName="type">
          <input type="hidden" formControlName="slug">
        </label>
        <div class="alert" *ngIf="!eForm.controls['type'].valid && eForm.controls['type'].touched">{{ titleAlert }}</div>

        <input type="submit" class="button expanded" value="Save dragon" [disabled]="!eForm.valid">
        <a routerLink="/dragons/"><i class="fas fa-list-ul"></i> Back list</a><br>
      </div>
    </div>
  </form>

  <div class="dragon-data" *ngIf="!isForm">

    <table>
      <tbody>
        <tr>
          <th>
            Create: 
          </th>
          <td>
            {{ dragon.created_at | date }}
          </td>
        </tr>
        <tr>
          <th>
            Name: 
          </th>
          <td>
            {{ dragon.name }}
          </td>
        </tr>
        <tr>
          <th>
            Type: 
          </th>
          <td>
            {{ dragon.type }}
          </td>
        </tr>
        <tr>
          <td>
            <a routerLink="/dragons/"><i class="fas fa-list-ul"></i> Back list</a><br>
          </td>
          <td>
            <a routerLink="/dragon/{{ dragon.slug }}/edit"><i class="fas fa-plus-circle"></i> Edit dragon</a>
          </td>
        </tr>
      </tbody>
    </table>
    
  </div>
  
</div>
